<div id="home-page">
  <p>Find me a sample image that is</p>
  <p>
    taken by the camera <input type="text" placeholder="Nikon D810" size="10">,
  </p>
  <p>
    with the lens
    <input type="text" placeholder="Nikon AF-S 200-400mm f4" size="24">,
  </p>
  <p>
    where the focal length is <input type="text" placeholder="300mm" size="6">,
  </p>
  <p>and f-stop is <input type="text" placeholder="f/5.6" size="6">, </p>
  <p>and ISO is <input type="text" placeholder="100" size="4">, </p>

  <button>Try it</button>
</div>
