.navigation {
  width: 100%;
}

.navigation ul {
  list-style: none;
  height: 6vh;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0px 35px;
}

.navigation ul .header {
  font-size: 30px;
  text-align: left;
  flex: 9;
}

.navigation ul li {
  display: list-item;
  font-family: sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}

.navigation ul li a {
  font-size: 24px;
  text-decoration: none;
  cursor: text;
  color: inherit;
}
