body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.cover {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  // background-image: url("cover.jpg");
}

#main-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#home-page {
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
  width: 70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home-page p {
  margin: 0;
}

#home-page p input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: solid 2px white;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  color: white;
  opacity: 0.65;

  &:focus {
    outline: none;
  }
}

#home-page button {
  background-color: #e7e7e7;
  border: none;
  color: black;
  font-family: sans-serif;
  font-size: 40px;
  padding: 10px 32px;
  margin: 15px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  opacity: 0.65;
  border-radius: 5px;

  &:hover {
    background-color: black;
    color: white;
  }
}
