.search-page {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
}

.search-page input[type="text"]
{
  background: transparent;
  border: none;
  border-bottom: solid 1px black;
  font-size: 18px;
  &:focus{ outline: none; }
}

.filters-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.filter {
  display: block;
  padding: 5px;
}

.images-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.image {
  padding: 5px;
  p { margin-top: 0; }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.pagination {
  margin-top: 10px;
  text-align: center;
}
