<nav class="navigation">
  <ul>
    <li class="header">Pixelfinder</li>
    <li><%= link_to "Home",       '/' %></li>
    <li><%= link_to "Search",     '/search' %></li>
    <li><%= link_to "About",      '#' %></li>
    <li><%= link_to "Contact Us", '#' %></li>
  </ul>
</nav>
